name: Android CI Build on Tag

on:
  push:
    tags:
      - "dev_*" # Kích hoạt khi tag bắt đầu bằng dev_

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: expense-tracker-${{ github.ref_name }}
          path: app/build/outputs/apk/debug/app-debug.apk
